.github/
docs/

# Example files for tofu and infrastructure configurations (e.g. .tf files)
examples/

# Terrafrom files
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl

# Secret files
*credential*

# Binaries
pkg/mc-terrarium
pkg/mc-terrarium-arm
cmd/mc-terrarium/mc-terrarium

# Log files
log/
logs/
*.log

# Files for tofu and infrastructure configurations
!.tofu/
.tofu/**
!.tofu/.keep

!secrets
secrets/**
!secrets/.keep
!secrets/README.md