# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
vendor/

# Go workspace file
go.work

# Terrafrom files
*.tfstate
*.tfstate.backup
*.tfvars
.terraform/
.terraform.lock.hcl
.terraform.tfstate.lock.info
terraform.tfstate.*
terraform.tfvars.json


# Secret files
*credential*
project-gcp.txt
*.pem
kubeconfig

# Sensitive data
.env

# Binaries
pkg/mc-terrarium
pkg/mc-terrarium-arm
cmd/mc-terrarium/mc-terrarium
cmd/bcrypt/bcrypt

# Log files
log/
logs/
*.log
*.db

# Files for tofu and infrastructure configurations
!.terrarium/
.terrarium/**
!.terrarium/.keep

!secrets
secrets/**
!secrets/template-*
!secrets/.keep
!secrets/README.md
!secrets/load-ncp-cred-env.sh
!secrets/load-alibaba-cred-env.sh
!secrets/load-all-cred-env.sh
!secrets/load-ibm-cred-env.sh

# Ignore container volumes
container-volume/